<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG_Concepts.Demo_Class"/>
      <class name="testNG_Concepts.InvocationCountClass"/>
      <class name="testNG_Concepts.Expexted_Keyword"/>
      <class name="testNG_Concepts.DependsOnMethodKeyword"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
